<div class="card-widget heo-right-widget" id="card-wechat" style="background: <%= theme.aside.wechat.color %> ;">
    <div id="flip-wrapper">
        <div id="flip-content">
            <div class="face">
                <div class="left">
                    <span class="title"><%= theme.aside.wechat.face.title %></span>
                    <span class="desc"><%= theme.aside.wechat.face.desc %> <i class="fa-solid fa-play"></i></span>
                </div>
            </div>
            <div class="back face">
                <div class="left">
                    <span class="title"><%= theme.aside.wechat.backface.title %></span>
                    <span class="desc"><%= theme.aside.wechat.backface.desc %> <i class="fa-solid fa-play"></i></span>
                </div>
                <img class="nolazyload" src="<%= theme.aside.wechat.backface.img %>">
            </div>
        </div>
    </div>
</div>